@import url("./global.css");
#home {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
}

#home label {
  font-size: clamp(15px, 3vw, 20px);
}
#home input {
  width: 80%;
  height: 50px;
  text-align: center;
  border: 1px solid var(--primary-dark);
  border-radius: 100px;
  font-size: clamp(15px, 3vw, 20px);
  color: var(--wp-text);
  background-color: var(--input-prim);
}

#home input:focus {
  outline: none;
  filter: brightness(10px);
  -webkit-filter: brightness(2);
}

.container--logo {
  width: 40%;
  height: 20vw;
}
.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2%;
  width: 100%;
  height: 100%;
}


#Every {
  width: 30%;
}

.modes__random,
.modes__scheduled,
.modes__auto {
  margin: 0 5%;
  width: 20%;
}



#autoKeyWord {
  margin-top: 10px;
  width: 20% !important;
}

.toggleBtn {
  padding: 0 5px;
  width: 100%;
  height: 80px;
  color: black;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(
    to bottom,
    var(--disable) 49%,
    var(--primary-color) 50%
  );
  background-size: 100% 300%;
  background-position: 0 -50px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}


.btnOn {
  color: white;
  background-position: 0 -110px;
  transition: 0.5s ease-in-out;
}

.start {
  margin: 5% 0 0 0;
  width: 100%;
  height: 70px;
  border: 1px solid var(--primary-dark);
  border-radius: 5px;
  font-size: clamp(15px, 3vw, 23px);
  background-color: transparent;
  cursor: pointer;
}
.start:hover {
  background-color: var(--primary-color);
}
