@import url("./global.css");
#random,
#scheduled,
#auto {
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

#random label,
#scheduled label,
#auto label {
  font-size: clamp(15px, 3vw, 20px);
}
#random input,
#scheduled input,
#auto input {
  margin: 0 3%;
  width: 90%;
  height: 50px;
  text-align: center;
  border: 1px solid var(--primary-dark);
  border-radius: 100px;
  font-size: clamp(15px, 3vw, 20px);
  color: var(--wp-text);
  background-color: var(--input-prim);
}

#random input:focus,
#scheduled input:focus,
#auto input:focus {
  outline: none;
  filter: brightness(10px);
  -webkit-filter: brightness(2);
}
.addPhrases > .form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
}


.addPhrases > .form,
.addQuestion > .form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
}

.form .input {
  margin: 5px 0;
}


.form > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.showPhrases {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 0 10% 0;
}

.showPhrases > ul {
  list-style: none;
  text-align: center;
}

.showPhrases > ul > li {
  margin: 10px 0;
  font-size: clamp(13px, 5vw, 18px);
}



.apply {
  margin: 5% 0;
  width: 100% !important;
}

.input.s {
  justify-content: space-around;
}

.inputTime {
  width: 10% !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.addQuestion > .form{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.chat {
  margin: 10px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chat > .inputPhrase {
  width: 40% !important;
}
.chat > .answers {
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;

}

.answerCont > .inputAnswer {
  margin: 10px 0 !important;
}

.ansOpen {
  display: flex !important;
}

.showAnswers {
  margin:  0 10px;
  padding: 3px;
  border: none;
  border-radius: 3px;
  background-color: var(--primary-color);
  cursor: pointer;
}

.btnOpen {
  background-color: var(--primary-dark) !important;
}


.answerCont {
  width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-between;

}
