:root {
    --primary-color: #50B35E;
    --primary-dark: #398043;
    --background: #0A0E11;
    --input-prim: #34383B;
    --input-sec: #858585;
    --disable: #D30C39; 

    --font-family: Segoe Script;
  }